html {
  height: 100%;
  font-size: 16px;
  background-color: white;
}

body {
  font-size: 1rem;
  line-height: 1.62;
  /* BASIC RHYTHM UNIT  multiple of font-size - 25.92px*/
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
  text-align: left;
  color: rgba(10, 11, 18, 1);
  background-color: white;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

.closeMenu {
  float: right;
}
.valueCard {
  width: 40%;
  margin: 2em auto;
  border: 1px solid black;
  padding: 0.5em;
  text-align: center;
  font-size: 300%;
}

.valueList {
  width: 40%;
  margin: 0.2em auto;
  border: 1px solid black;
  padding: 0.2em;
  text-align: center;
  font-size: 200%;
}


#counterHolder {
  width: 20%;
  float: right;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap
}

#cardRoot {

}
.flexCard {
  padding: 1em;
  border-radius: 2em;

}

.listContainer {
  display: flex;
   height: 100%;
   box-sizing: border-box;
   flex-direction: column;
   justify-content: center;
   align-items: center;
     background-color: rgba(200,200,200,1);

}
.listItem {
      border: 1px solid #999;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2), 0 -5px 5px -5px rgba(0,0,0,0.2);

  cursor: row-resize;

  display: flex;
align-items: center;
width: 100%;
padding: 0 20px;
  background-color: rgba(255,255,255,0.9);
border-bottom: 1px solid #EFEFEF;
box-sizing: border-box;
user-select: none;

color: #333;
font-weight: 400;
position: relative;
border-bottom: 1px solid #999;
position: relative;
 z-index: 0;
 border: 1px solid #EFEFEF;
 border-radius: 3px;
 outline: none;
}

.logOut {
  width: 10%;
  float: right;
}

/* ==========================================================================
  Buttons
   ========================================================================== */
   .button {
     width: 25%;
     margin-left: 6.25%;
     float: left;
   }

.proceed {

}
.startOver {
color: red;
}
div, section {

  border: solid black 1px
}
/* ==========================================================================
   Helper classes and boilerplate
   ========================================================================== */

.lj {
  text-align: left;
}

.rj {
  text-align: right;
}

.cj {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.noVis {
  opacity: 0;
  visibility: hidden;
  /* So links don't show on hover */
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.smoothAppear {
  opacity: 1;
  visibility: 1;
  transition: opacity 2.5s ease-in-out;
  -moz-transition: opacity 2.5s ease-in-out;
  -webkit-transition: opacity 2.5s ease-in-out;
  -o-transition: opacity 2.5s ease-in-out;
}

.delayedAppear {
  opacity: 1;
  visibility: 1;
  transition: opacity 8s ease-in-out;
  -moz-transition: opacity 8s ease-in-out;
  -webkit-transition: opacity 8s ease-in-out;
  -o-transition: opacity 8s ease-in-out;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: rgb(37, 135, 174);
  text-shadow: none;
}

::selection {
  background: rgb(37, 135, 174);
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1.62em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio {
  margin-left: 0.62em;
  opacity: 0.85;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
